#landing-container{
    padding: 2%;
    margin:auto;
    margin-bottom: 12.5em;
    height: 85vh;
}

#preface {
    margin-top: 10em;
    font-size: 1.1rem;
    font-family: Overpass Mono;
    color: var(--subsecondary);
}

#title {
    font-size: 6rem;
    font-weight: 500;
    color: var(--primary);
}

#subtitle{
    font-size: 3.5rem;
    font-weight: 500;
    color: var(--secondary);
}

#title-text {
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 1em;
    color: var(--secondary);
}

#landing-icon-container {
    display: none;
}

@media (max-width: 1050px) { 
    #landing-container{
        padding: 1em;
        margin:0 auto;
        margin-top:1em;
        margin-bottom: 6em;
        height: max-content;
    }

    #preface {
        font-size: 1.1rem;
    }
    
    #title {
        font-size: 4rem;
    }

    #subtitle{
        font-size: 2rem;
    }
    
    #title-text {
        font-size: 1.2rem;
    }   

    #landing-icon-container {
        display: inline-block;
    }
}