:root {
    --primary: #8892b0;
    --secondary: #aeafaf;
    --subsecondary: #3a506b;
    --background: #0b132b;
    --fontColor: #ffffff;
    --border: #c0c0c049;
    color: var(--fontColor);
}

body {
    color: var(--fontColor);
    
}

#root {
    background-color: var(--background);
}